.course-form {
  width: 800px;

  .container {
    display: flex;
    flex-direction: column;
    padding: 20px;
  }

  .actions {
    display: flex;
    justify-content: center;
    gap: 8px;
    width: 100%;
  }

  @media (max-width: 800px) {
    .course-form {
      width: 30%;
    }
  }

  mat-dialog-content {
    padding: 0 !important;
  }
}
